html {
    --background-color: rgb(255, 255, 255);
    --middleground-color: rgb(245, 246, 250);
    --foreground-color: rgb(208, 212, 221);

    --background-color-translucent: rgba(255, 255, 255, 0.64);
    --middleground-color-translucent: rgb(245, 246, 250, 0.64);
    --foreground-color-translucent: rgb(208, 212, 221, 0.64);

    --accent-color: rgb(47, 128, 237);

    --primary-text-color: rgb(0,0,0);
    --secondary-text-color: #3d3d4e ;
    --tertiary-text-color: #6e6d7a;

    --border-radius-xsmall: 4px;
    --border-radius-small: 8px;
    --border-radius-medium: 12px;
    --border-radius-large: 20px;
    --border-radius-xlarge: 24px;

    --font-size-xsmall: 10px;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 18px;
    --font-size-xlarge: 22px;
    --font-size-xxlarge: 28px;
    --font-size-xxxlarge: 36px;
    --font-size-xxxxlarge: 48px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-weight-xbold: 700;

    --padding-xsmall: 2px;
    --padding-small: 4px;
    --padding-medium: 8px;
    --padding-large: 16px;
    --padding-xlarge: 24px;

    --profile-picture-size-small: 40px;
    --profile-picture-size-medium: 64px;
    --profile-picture-size-large: 96px;
    --profile-picture-size-extra-large: 192px;
}

.dark {
    --background-color: rgba(27, 26, 29, 1);
    --middleground-color: rgba(43, 45, 46, 1);
    --foreground-color: rgba(61, 63, 65, 1);

    --background-color-translucent: rgba(27, 26, 29, 0.64);
    --middleground-color-translucent: rgba(43, 45, 46, 0.64);
    --foreground-color-translucent: rgba(61, 63, 65, 0.64);
    --accent-color: rgb(63, 140, 251);

    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(168, 169, 169);
    --tertiary-text-color: rgb(112, 112, 114);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.no-underline {
    text-decoration: none;
}

a { color: inherit; } 