.container {
    display: flexbox;
    /* width: calc(0.67*var(--page-width)); */
    width:100%;
    height: 100%;
    flex-direction: column;
    border-radius: var(--border-radius-large);
    overflow: hidden;
}

.container.detailed {
    background-color: var(--middleground-color);
    padding: 8px;
}

.padding{
    padding: 8px;
}