.userInfo {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 16px;
}

.fullname {
    font-size: var(--font-size-xxlarge);
}

.username {
    font-size: var(--font-size-large);
    color: var(--secondary-text-color);
}

.description {
    font-size: var(--font-size-medium);
    color: var(--secondary-text-color);
    padding: 0 12px;
}