.title{
    font-size: var(--font-size-xlarge);
    padding: 12px;
}

.signature {
    font-size: var(--font-size-small);
    padding: 12px;
}

@media (max-width: 480px) {
    .title {
        font-size: var(--font-size-xxlarge);
        padding: 16px 0 12px 0;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid var(--middleground-color);
    }
}